{
    "swagger": "2.0",
    "info": {
        "title": "Carts",
        "description": "Digital Commerce Cart APIs",
        "version": "2.0.0"
    },
    "host": "commerce.digital.t-mobile.com",
    "schemes": [
        "https"
    ],
    "basePath": "/v2/carts",
    "produces": [
        "application/json"
    ],
    "paths": {
        "/": {
            "get": {
                "summary": "Get Default or Empty Cart or Cart associated with current token",
                "description": "Get Default or Empty Cart or Cart associated with current token",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "description": "Format \"Authorization Bearer <<OAuth Token>>\""
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Request message format (default is application/json)"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Content-Types that are acceptable. Currently only application/json is supported"
                    },
                    {
                        "name": "api-version",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "API version."
                    },
					{
						"name": "channelId",
						"in": "header",
						"type": "string",
						"enum": [
							"WEB",
							"RETAIL",
							"CARE",
							"NA"
						],
						"required": true,
						"description": "Channel identifier. NA is treated as default."
					},
					{
						"name": "applicationId",
						"in": "header",
						"type": "string",
						"enum": [
							"TMO",
							"MYTMO",
							"NA"
						],
						"required": true,
						"description": "Consuming Application identifier. NA is treated as default. More values will be added to swagger as clients are onboarded."
					},
                    {
                        "name": "interactionId",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Alphanumeric value represent a common transaction id across all calls made from UI, while completing all business activity needs of a particular customer."
                    },
                    {
                        "name": "storeId",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Unique identifier for the retail store location. Mandatory for FullService  (Tmobile RETAIL channel). Need to discuss with T-Mobile business liaison if there is a need for Partner to pass their retail Store Id)."
                    },
                    {
                        "name": "creditLevel",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "CreditLevel selected for the customer. It represents one of the  credit levels GOOD, BUILDING and NONE. "
                    }
                ],
                "tags": [
                    "Carts"
                ],
                "responses": {
                    "200": {
                        "description": "Successful Cart Response",
                        "schema": {
                            "$ref": "#/definitions/carts"
                        }
                    },
                    "400": {
                        "description": "invalid request",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "500": {
                        "description": "Internal error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "503": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    }
                }
            }
        },
        "/{cartID}": {
            "get": {
                "operationId": "getCart",
                "summary": "Get Cart by cart id",
                "description": "Get the requested cart details including line information",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "description": "Format \"Authorization Bearer <<OAuth Token>>\""
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Request message format as application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Content-Types that are acceptable including application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "api-version",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "API version."
                    },
					{
						"name": "channelId",
						"in": "header",
						"type": "string",
						"enum": [
							"WEB",
							"RETAIL",
							"CARE",
							"NA"
						],
						"required": true,
						"description": "Channel identifier. NA is treated as default."
					},
					{
						"name": "applicationId",
						"in": "header",
						"type": "string",
						"enum": [
							"TMO",
							"MYTMO",
							"NA"
						],
						"required": true,
						"description": "Consuming Application identifier. NA is treated as default. More values will be added to swagger as clients are onboarded."
					},
                    {
                        "name": "interactionId",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Alphanumeric value represent a common transaction id across all calls made from UI, while completing all business activity needs of a particular customer."
                    },
                    {
                        "name": "storeId",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Unique identifier for the retail store location. Mandatory for FullService  (Tmobile RETAIL channel). Need to discuss with T-Mobile business liaison if there is a need for Partner to pass their retail Store Id)."
                    },
                    {
                        "name": "cartID",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "creditLevel",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "CreditLevel selected for the customer. It represents one of the  credit levels GOOD, BUILDING and NONE.          "
                    }
                ],
                "tags": [
                    "Carts"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/carts"
                        }
                    },
                    "400": {
                        "description": "invalid request",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "500": {
                        "description": "Internal error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "503": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    }
                }
            }
        },
              "/{cartID}/services/conflicts": {
            "get": {
                "summary": "This API checks the compatibility between device and services in cart and account and returns the conflicting skus in response",
                "description": "This API checks the compatibility between device and services in cart and account and returns the conflict skus in response",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Format \"Authorization Bearer <<OAuth Token>>\""
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Request message format as application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Content-Types that are acceptable including application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "api-version",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "API version."
                    },
          {
            "name": "channelId",
            "in": "header",
            "type": "string",
            "enum": [
              "WEB",
              "RETAIL",
              "CARE",
              "NA"
            ],
            "required": true,
            "description": "Channel identifier. NA is treated as default."
          },
          {
            "name": "applicationId",
            "in": "header",
            "type": "string",
            "enum": [
              "TMO",
              "MYTMO",
              "NA"
            ],
            "required": true,
            "description": "Consuming Application identifier. NA is treated as default. More values will be added to swagger as clients are onboarded."
          },
                    {
                        "name": "interactionId",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Alphanumeric value represent a common transaction id across all calls made from UI, while completing all business activity needs of a particular customer."
                    },
                    {
                        "name": "storeId",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Unique identifier for the retail store location. Mandatory for FullService  (Tmobile RETAIL channel). Need to discuss with T-Mobile business liaison if there is a need for Partner to pass their retail Store Id)."
                    },
                    {
                        "name": "cartID",
                        "in": "path",
                        "type": "string",
                        "required": true,
                        "description": "Cart ID"
                    }
                ],
                "tags": [
                    "Carts",
                    "Line"
                ],
                "responses": {
                    "200": {
                        "description": "Cart Validate services",
                        "schema": {
                            "$ref": "#/definitions/validate-services"
                        }
                    },
                    "400": {
                        "description": "invalid request",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "503": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    }
                }
            }
      },
        "/{cartID}/audit-records": {
            "get": {
                "summary": "This API fetches key-value metadata tied to the cart",
                "description": "This API fetches key-value metadata tied to the cart",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Format \"Authorization Bearer <<OAuth Token>>\""
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Request message format as application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Content-Types that are acceptable including application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "api-version",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "API version."
                    },
					{
						"name": "channelId",
						"in": "header",
						"type": "string",
						"enum": [
							"WEB",
							"RETAIL",
							"CARE",
							"NA"
						],
						"required": true,
						"description": "Channel identifier. NA is treated as default."
					},
					{
						"name": "applicationId",
						"in": "header",
						"type": "string",
						"enum": [
							"TMO",
							"MYTMO",
							"NA"
						],
						"required": true,
						"description": "Consuming Application identifier. NA is treated as default. More values will be added to swagger as clients are onboarded."
					},
                    {
                        "name": "interactionId",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Alphanumeric value represent a common transaction id across all calls made from UI, while completing all business activity needs of a particular customer."
                    },
                    {
                        "name": "storeId",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Unique identifier for the retail store location. Mandatory for FullService  (Tmobile RETAIL channel). Need to discuss with T-Mobile business liaison if there is a need for Partner to pass their retail Store Id)."
                    },
                    {
                        "name": "cartID",
                        "in": "path",
                        "type": "string",
                        "required": true,
                        "description": "Cart ID"
                    },
                    {
                        "name": "audit-key",
                        "in": "query",
                        "type": "string",
                        "required": false,
                        "description": "audit-key. If it is passed then API will return audit-record as per the specified key otherwise all audit-records for the cart."
                    }
                ],
                "tags": [
                    "audit records",
                    "metadata"
                ],
                "responses": {
                    "200": {
                        "description": "Cart Audit Details",
                        "schema": {
                            "$ref": "#/definitions/audit-records"
                        }
                    },
                    "400": {
                        "description": "invalid request",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "503": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    }
                }
            },
            "post": {
                "summary": "This API provides a way to capture cart level metadata that is primarily intended for backend processing.",
                "description": "This API provides a way to capture cart level metadata that is primarily intended for backend processing",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "description": "Format \"Authorization Bearer <<OAuth Token>>\""
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Request message format as application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Content-Types that are acceptable including application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "api-version",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "API version."
                    },
					{
						"name": "channelId",
						"in": "header",
						"type": "string",
						"enum": [
							"WEB",
							"RETAIL",
							"CARE",
							"NA"
						],
						"required": true,
						"description": "Channel identifier. NA is treated as default."
					},
					{
						"name": "applicationId",
						"in": "header",
						"type": "string",
						"enum": [
							"TMO",
							"MYTMO",
							"NA"
						],
						"required": true,
						"description": "Consuming Application identifier. NA is treated as default. More values will be added to swagger as clients are onboarded."
					},
                    {
                        "name": "interactionId",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Alphanumeric value represent a common transaction id across all calls made from UI, while completing all business activity needs of a particular customer."
                    },
                    {
                        "name": "storeId",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Unique identifier for the retail store location. Mandatory for FullService  (Tmobile RETAIL channel). Need to discuss with T-Mobile business liaison if there is a need for Partner to pass their retail Store Id)."
                    },
                    {
                        "name": "follow",
                        "in": "header",
                        "type": "boolean",
                        "required": false,
                        "description": "If true, does not return the resource detail after performing the action. default false"
                    },
                    {
                        "name": "cartID",
                        "in": "path",
                        "type": "string",
                        "required": true,
                        "description": "Cart ID"
                    },
                    {
                        "name": "body",
                        "required": true,
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/audit-records"
                        }
                    }
                ],
                "tags": [
                    "metadata",
                    "audit records"
                ],
                "responses": {
                    "201": {
                        "description": "Audit Record Created"
                    },
                    "400": {
                        "description": "invalid request",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "503": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    }
                }
            }
        },
        "/{cartID}/lines/{lineId}/audit-records": {
            "post": {
                "summary": "This API provides a way to capture line level metadata that is primarily intended for backend processing specific to line.",
                "description": "This API provides a way to capture line level metadata that is primarily intended for backend processing specific to line.",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "description": "Format \"Authorization Bearer <<OAuth Token>>\""
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Request message format as application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Content-Types that are acceptable including application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "api-version",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "API version."
                    },
					{
						"name": "channelId",
						"in": "header",
						"type": "string",
						"enum": [
							"WEB",
							"RETAIL",
							"CARE",
							"NA"
						],
						"required": true,
						"description": "Channel identifier. NA is treated as default."
					},
					{
						"name": "applicationId",
						"in": "header",
						"type": "string",
						"enum": [
							"TMO",
							"MYTMO",
							"NA"
						],
						"required": true,
						"description": "Consuming Application identifier. NA is treated as default. More values will be added to swagger as clients are onboarded."
					},
                    {
                        "name": "interactionId",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Alphanumeric value represent a common transaction id across all calls made from UI, while completing all business activity needs of a particular customer."
                    },
                    {
                        "name": "storeId",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Unique identifier for the retail store location. Mandatory for FullService  (Tmobile RETAIL channel). Need to discuss with T-Mobile business liaison if there is a need for Partner to pass their retail Store Id)."
                    },
                    {
                        "name": "follow",
                        "in": "header",
                        "type": "boolean",
                        "required": false,
                        "description": "If true, does not return the resource detail after performing the action. default false"
                    },
                    {
                        "name": "cartID",
                        "in": "path",
                        "type": "string",
                        "required": true,
                        "description": "Cart ID"
                    },
                    {
                        "name": "lineId",
                        "in": "path",
                        "type": "string",
                        "required": true,
                        "description": "Line of service id"
                    },
                    {
                        "name": "body",
                        "required": true,
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/audit-records"
                        }
                    }
                ],
                "tags": [
                    "metadata",
                    "audit records"
                ],
                "responses": {
                    "201": {
                        "description": "Audit Record Created"
                    },
                    "400": {
                        "description": "invalid request",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "503": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    }
                }
            },
            "get": {
                "summary": "This API fetches key-value metadata tied to the line.",
                "description": "This API fetches key-value metadata tied to the line.",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Format \"Authorization Bearer <<OAuth Token>>\""
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Request message format as application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Content-Types that are acceptable including application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "api-version",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "API version."
                    },
					{
						"name": "channelId",
						"in": "header",
						"type": "string",
						"enum": [
							"WEB",
							"RETAIL",
							"CARE",
							"NA"
						],
						"required": true,
						"description": "Channel identifier. NA is treated as default."
					},
					{
						"name": "applicationId",
						"in": "header",
						"type": "string",
						"enum": [
							"TMO",
							"MYTMO",
							"NA"
						],
						"required": true,
						"description": "Consuming Application identifier. NA is treated as default. More values will be added to swagger as clients are onboarded."
					},
                    {
                        "name": "interactionId",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Alphanumeric value represent a common transaction id across all calls made from UI, while completing all business activity needs of a particular customer."
                    },
                    {
                        "name": "storeId",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Unique identifier for the retail store location. Mandatory for FullService  (Tmobile RETAIL channel). Need to discuss with T-Mobile business liaison if there is a need for Partner to pass their retail Store Id)."
                    },
                    {
                        "name": "cartID",
                        "in": "path",
                        "type": "string",
                        "required": true,
                        "description": "Cart ID"
                    },
                    {
                        "name": "lineId",
                        "in": "path",
                        "type": "string",
                        "required": true,
                        "description": "Line of service id"
                    },
                    {
                        "name": "audit-key",
                        "in": "query",
                        "type": "string",
                        "required": false,
                        "description": "audit-key. If it is passed then API will return audit-record as per the specified key otherwise all audit-records for the line."
                    }
                ],
                "tags": [
                    "audit records",
                    "metadata"
                ],
                "responses": {
                    "200": {
                        "description": "Line Audit Record Details",
                        "schema": {
                            "$ref": "#/definitions/audit-records"
                        }
                    },
                    "400": {
                        "description": "invalid request",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "503": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    }
                }
            }
        },
        "/{cartID}/lines": {
            "post": {
                "operationId": "This API adds a new line to the specified cart",
                "summary": "Add default new Line to the specified cart",
                "description": "Add default new Line to the cart. Depending on configuration, default could be empty line or pre-specified items",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Format \"Authorization Bearer <<OAuth Token>>\""
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Request message format as application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Content-Types that are acceptable including application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "api-version",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "API version."
                    },
					{
						"name": "channelId",
						"in": "header",
						"type": "string",
						"enum": [
							"WEB",
							"RETAIL",
							"CARE",
							"NA"
						],
						"required": true,
						"description": "Channel identifier. NA is treated as default."
					},
					{
						"name": "applicationId",
						"in": "header",
						"type": "string",
						"enum": [
							"TMO",
							"MYTMO",
							"NA"
						],
						"required": true,
						"description": "Consuming Application identifier. NA is treated as default. More values will be added to swagger as clients are onboarded."
					},
                    {
                        "name": "interactionId",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Alphanumeric value represent a common transaction id across all calls made from UI, while completing all business activity needs of a particular customer."
                    },
                    {
                        "name": "storeId",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Unique identifier for the retail store location. Mandatory for FullService  (Tmobile RETAIL channel). Need to discuss with T-Mobile business liaison if there is a need for Partner to pass their retail Store Id)."
                    },
                    {
                        "name": "follow",
                        "in": "header",
                        "type": "boolean",
                        "required": false,
                        "description": "If true, does not return the resource detail after performing the action. default is false"
                    },
                    {
                        "name": "cartID",
                        "in": "path",
                        "type": "string",
                        "required": true,
                        "description": "Cart ID"
                    },
                    {
                        "name": "body",
                        "required": true,
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/addLineRequest"
                        }
                    }
                ],
                "tags": [
                    "Carts",
                    "Line"
                ],
                "responses": {
                    "200": {
                        "description": "updated Cart",
                        "schema": {
                            "$ref": "#/definitions/carts"
                        }
                    },
                    "400": {
                        "description": "invalid request",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "500": {
                        "description": "Internal error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "503": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    }
                }
            }
        },
        "/{cartID}/lines/{lineId}": {
            "post": {
                "summary": "This API provides feature to Duplicate a Line",
                "description": "This API duplicates the specified Line in the same cart.",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Format \"Authorization Bearer <<OAuth Token>>\""
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Request message format as application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Content-Types that are acceptable including application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "api-version",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "API version."
                    },
					{
						"name": "channelId",
						"in": "header",
						"type": "string",
						"enum": [
							"WEB",
							"RETAIL",
							"CARE",
							"NA"
						],
						"required": true,
						"description": "Channel identifier. NA is treated as default."
					},
					{
						"name": "applicationId",
						"in": "header",
						"type": "string",
						"enum": [
							"TMO",
							"MYTMO",
							"NA"
						],
						"required": true,
						"description": "Consuming Application identifier. NA is treated as default. More values will be added to swagger as clients are onboarded."
					},
                    {
                        "name": "interactionId",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Alphanumeric value represent a common transaction id across all calls made from UI, while completing all business activity needs of a particular customer."
                    },
                    {
                        "name": "storeId",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Unique identifier for the retail store location. Mandatory for FullService  (Tmobile RETAIL channel). Need to discuss with T-Mobile business liaison if there is a need for Partner to pass their retail Store Id)."
                    },
                    {
                        "name": "follow",
                        "in": "header",
                        "type": "boolean",
                        "required": false,
                        "description": "If true, does not return the resource detail after performing the action. default false"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/line"
                        }
                    },
                    {
                        "name": "cartID",
                        "in": "path",
                        "type": "string",
                        "required": true,
                        "description": "Cart ID"
                    },
                    {
                        "name": "lineId",
                        "in": "path",
                        "type": "string",
                        "required": true,
                        "description": "Line of service id"
                    },
                    {
                        "name": "creditLevel",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "creditLevel"
                    },
                    {
                        "name": "duplicate",
                        "in": "query",
                        "type": "string",
                        "required": false,
                        "description": "default value is false. If value is true another line is cloned same as passed line id, else line is updated"
                    }
                ],
                "tags": [
                    "Carts"
                ],
                "responses": {
                    "201": {
                        "description": "another Line added",
                        "schema": {
                            "$ref": "#/definitions/carts"
                        }
                    },
                    "400": {
                        "description": "invalid request",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "503": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    }
                }
            },
               "put": {
                "operationId": "This API updates a line to the specified cart",
                "summary": "Update line specified in the request",
                "description": "Updates the line with specified request coming in the body",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Format \"Authorization Bearer <<OAuth Token>>\""
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Request message format as application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Content-Types that are acceptable including application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "api-version",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "API version."
                    },
					{
						"name": "channelId",
						"in": "header",
						"type": "string",
						"enum": [
							"WEB",
							"RETAIL",
							"CARE",
							"NA"
						],
						"required": true,
						"description": "Channel identifier. NA is treated as default."
					},
					{
						"name": "applicationId",
						"in": "header",
						"type": "string",
						"enum": [
							"TMO",
							"MYTMO",
							"NA"
						],
						"required": true,
						"description": "Consuming Application identifier. NA is treated as default. More values will be added to swagger as clients are onboarded."
					},
                    {
                        "name": "interactionId",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Alphanumeric value represent a common transaction id across all calls made from UI, while completing all business activity needs of a particular customer."
                    },
                    {
                        "name": "storeId",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Unique identifier for the retail store location. Mandatory for FullService  (Tmobile RETAIL channel). Need to discuss with T-Mobile business liaison if there is a need for Partner to pass their retail Store Id)."
                    },
                    {
                        "name": "follow",
                        "in": "header",
                        "type": "boolean",
                        "required": false,
                        "description": "If true, does not return the resource detail after performing the action. default is false"
                    },
                    {
                        "name": "cartID",
                        "in": "path",
                        "type": "string",
                        "required": true,
                        "description": "Cart ID"
                    },
                    {
                        "name": "lineId",
                        "in": "path",
                        "type": "string",
                        "required": true,
                        "description": "Line of service id"
                    },
                    {
                        "name": "body",
                        "required": true,
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/addLineRequest"
                        }
                    }
                ],
                "tags": [
                    "Carts",
                    "Line"
                ],
                "responses": {
                    "200": {
                        "description": "updated Cart",
                        "schema": {
                            "$ref": "#/definitions/carts"
                        }
                    },
                    "400": {
                        "description": "invalid request",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "500": {
                        "description": "Internal error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "503": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    }
                }
            },
            "delete": {
                "operationId": "deleteLine",
                "summary": "Delete Line",
                "description": "Delete Line",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Format \"Authorization Bearer <<OAuth Token>>\""
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Request message format as application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Content-Types that are acceptable including application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "api-version",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "API version."
                    },
					{
						"name": "channelId",
						"in": "header",
						"type": "string",
						"enum": [
							"WEB",
							"RETAIL",
							"CARE",
							"NA"
						],
						"required": true,
						"description": "Channel identifier. NA is treated as default."
					},
					{
						"name": "applicationId",
						"in": "header",
						"type": "string",
						"enum": [
							"TMO",
							"MYTMO",
							"NA"
						],
						"required": true,
						"description": "Consuming Application identifier. NA is treated as default. More values will be added to swagger as clients are onboarded."
					},
                    {
                        "name": "interactionId",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Alphanumeric value represent a common transaction id across all calls made from UI, while completing all business activity needs of a particular customer."
                    },
                    {
                        "name": "storeId",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Unique identifier for the retail store location. Mandatory for FullService  (Tmobile RETAIL channel). Need to discuss with T-Mobile business liaison if there is a need for Partner to pass their retail Store Id)."
                    },
                    {
                        "name": "creditLevel",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "creditLevel"
                    },
                    {
                        "name": "cartID",
                        "in": "path",
                        "type": "string",
                        "required": true,
                        "description": "Cart ID"
                    },
                    {
                        "name": "lineId",
                        "in": "path",
                        "type": "string",
                        "required": true,
                        "description": "Line of service id"
                    }
                ],
                "tags": [
                    "Carts"
                ],
                "responses": {
                    "200": {
                        "description": "Line Deleted",
                        "schema": {
                            "$ref": "#/definitions/carts"
                        }
                    },
                    "400": {
                        "description": "invalid request",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "503": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    }
                }
            }
        },
        "/{cartID}/lines/{lineId}/services": {
            "get": {
                "operationId": "getServices",
                "summary": "Get Optiponal Services (ex. JUMP, Raphsody etc.)",
                "description": "Get available optional services for a line. The services are dependent on Device, Rate Plan, any other selected optional services (line level or cart level) and zipCode combination. Hence the services are in the context of the Line.",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Format \"Authorization Bearer <<OAuth Token>>\""
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Request message format as application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Content-Types that are acceptable including application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "api-version",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "API version."
                    },
					{
						"name": "channelId",
						"in": "header",
						"type": "string",
						"enum": [
							"WEB",
							"RETAIL",
							"CARE",
							"NA"
						],
						"required": true,
						"description": "Channel identifier. NA is treated as default."
					},
					{
						"name": "applicationId",
						"in": "header",
						"type": "string",
						"enum": [
							"TMO",
							"MYTMO",
							"NA"
						],
						"required": true,
						"description": "Consuming Application identifier. NA is treated as default. More values will be added to swagger as clients are onboarded."
					},
                    {
                        "name": "interactionId",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Alphanumeric value represent a common transaction id across all calls made from UI, while completing all business activity needs of a particular customer."
                    },
                    {
                        "name": "storeId",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Unique identifier for the retail store location. Mandatory for FullService  (Tmobile RETAIL channel). Need to discuss with T-Mobile business liaison if there is a need for Partner to pass their retail Store Id)."
                    },
                    {
                        "name": "cartID",
                        "in": "path",
                        "type": "string",
                        "required": true,
                        "description": "Cart ID"
                    },
                    {
                        "name": "lineId",
                        "in": "path",
                        "type": "string",
                        "required": true,
                        "description": "Line of service id"
                    },
                    {
                        "name": "zipCode",
                        "in": "query",
                        "type": "string",
                        "required": true,
                        "description": "zip Code"
                    },
                    {
                        "name": "serviceGroup",
                        "in": "query",
                        "type": "string",
						"enum": [
							"Handset Protection and Upgrades",
							"Music & Sounds",
							"Other",
							"International",
							"Extra Minutes",
							"HotSpot",
							"Data Service"
						],
                        "required": false,
                        "description": "To fetch only specific service group in response"
                    }
                ],
                "tags": [
                    "Carts",
                    "Optional Services",
                    "Line"
                ],
                "responses": {
                    "200": {
                        "description": "Service Details",
                        "schema": {
                            "$ref": "#/definitions/services"
                        }
                    },
                    "400": {
                        "description": "invalid request",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "500": {
                        "description": "Internal error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "503": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    }
                }
            },
            "post": {
                "operationId": "updateServices",
                "summary": "Update selected Optional Services to the specified line in the Cart",
                "description": "Update Optional Services for the line in the cart. The body contains the Id of the Service Bundle which is a hash of the set of selected services. The Commerce Engine takes care of adding/removing services from the Line in the Cart.",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Format \"Authorization Bearer <<OAuth Token>>\""
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Request message format as application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Content-Types that are acceptable including application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "api-version",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "API version."
                    },
					{
						"name": "channelId",
						"in": "header",
						"type": "string",
						"enum": [
							"WEB",
							"RETAIL",
							"CARE",
							"NA"
						],
						"required": true,
						"description": "Channel identifier. NA is treated as default."
					},
					{
						"name": "applicationId",
						"in": "header",
						"type": "string",
						"enum": [
							"TMO",
							"MYTMO",
							"NA"
						],
						"required": true,
						"description": "Consuming Application identifier. NA is treated as default. More values will be added to swagger as clients are onboarded."
					},
                    {
                        "name": "interactionId",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Alphanumeric value represent a common transaction id across all calls made from UI, while completing all business activity needs of a particular customer."
                    },
                    {
                        "name": "storeId",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Unique identifier for the retail store location. Mandatory for FullService  (Tmobile RETAIL channel). Need to discuss with T-Mobile business liaison if there is a need for Partner to pass their retail Store Id)."
                    },
                    {
                        "name": "follow",
                        "in": "header",
                        "type": "boolean",
                        "required": false,
                        "description": "does not return the resource detail after performing the action"
                    },
                    {
                        "name": "cartID",
                        "in": "path",
                        "type": "string",
                        "required": true,
                        "description": "Cart ID"
                    },
                    {
                        "name": "lineId",
                        "in": "path",
                        "type": "string",
                        "required": true,
                        "description": "Line of service id"
                    },
                    {
                        "name": "body",
                        "required": true,
                        "description": "update services request",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/updateServicesRequest"
                        }
                    }
                ],
                "tags": [
                    "Carts",
                    "Optional Services",
                    "Line"
                ],
                "responses": {
                    "200": {
                        "description": "updated Cart",
                        "schema": {
                            "$ref": "#/definitions/carts"
                        }
                    },
                    "400": {
                        "description": "invalid request",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "500": {
                        "description": "Internal error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "503": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    }
                }
            }
        },
        "/{cartID}/lines/{lineId}/services/bundle": {
            "post": {
                "operationId": "bundleServices",
                "summary": "Bundle Services",
                "description": "Bundle the selected services so that the bundle can be updated to the cart. Update the Optional Services Bundle with the selected Optional Service SKU.",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Format \"Authorization Bearer <<OAuth Token>>\""
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Request message format as application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Content-Types that are acceptable including application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "api-version",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "API version."
                    },
					{
						"name": "channelId",
						"in": "header",
						"type": "string",
						"enum": [
							"WEB",
							"RETAIL",
							"CARE",
							"NA"
						],
						"required": true,
						"description": "Channel identifier. NA is treated as default."
					},
					{
						"name": "applicationId",
						"in": "header",
						"type": "string",
						"enum": [
							"TMO",
							"MYTMO",
							"NA"
						],
						"required": true,
						"description": "Consuming Application identifier. NA is treated as default. More values will be added to swagger as clients are onboarded."
					},
                    {
                        "name": "interactionId",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Alphanumeric value represent a common transaction id across all calls made from UI, while completing all business activity needs of a particular customer."
                    },
                    {
                        "name": "storeId",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Unique identifier for the retail store location. Mandatory for FullService  (Tmobile RETAIL channel). Need to discuss with T-Mobile business liaison if there is a need for Partner to pass their retail Store Id)."
                    },
                    {
                        "name": "follow",
                        "in": "header",
                        "type": "boolean",
                        "required": false,
                        "description": "does not return the resource detail after performing the action"
                    },
                    {
                        "name": "cartID",
                        "in": "path",
                        "type": "string",
                        "required": true,
                        "description": "Cart ID"
                    },
                    {
                        "name": "lineId",
                        "in": "path",
                        "type": "string",
                        "required": true,
                        "description": "Line of service id"
                    },
                    {
                        "name": "body",
                        "required": true,
                        "description": "update services request",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/updateServicesRequest"
                        }
                    }
                ],
                "tags": [
                    "Carts",
                    "Optional Services",
                    "Line"
                ],
                "responses": {
                    "200": {
                        "description": "updated Cart",
                        "schema": {
                            "$ref": "#/definitions/carts"
                        }
                    },
                    "400": {
                        "description": "invalid request",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "500": {
                        "description": "Internal error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "503": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    }
                }
            }
        },
        "/{cartID}/lines/{lineId}/services/stand-alone": {
            "post": {
                "summary": "Add/remove Services to cart",
                "description": "Add/remove services discretely to cart",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Format \"Authorization Bearer <<OAuth Token>>\""
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Request message format as application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Content-Types that are acceptable including application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "api-version",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "API version."
                    },
					{
						"name": "channelId",
						"in": "header",
						"type": "string",
						"enum": [
							"WEB",
							"RETAIL",
							"CARE",
							"NA"
						],
						"required": true,
						"description": "Channel identifier. NA is treated as default."
					},
					{
						"name": "applicationId",
						"in": "header",
						"type": "string",
						"enum": [
							"TMO",
							"MYTMO",
							"NA"
						],
						"required": true,
						"description": "Consuming Application identifier. NA is treated as default. More values will be added to swagger as clients are onboarded."
					},
                    {
                        "name": "interactionId",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Alphanumeric value represent a common transaction id across all calls made from UI, while completing all business activity needs of a particular customer."
                    },
                    {
                        "name": "storeId",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Unique identifier for the retail store location. Mandatory for FullService  (Tmobile RETAIL channel). Need to discuss with T-Mobile business liaison if there is a need for Partner to pass their retail Store Id)."
                    },
                    {
                        "name": "follow",
                        "in": "header",
                        "type": "boolean",
                        "required": false,
                        "description": "does not return the resource detail after performing the action"
                    },
                    {
                        "name": "cartID",
                        "in": "path",
                        "type": "string",
                        "required": true,
                        "description": "Cart ID"
                    },
                    {
                        "name": "lineId",
                        "in": "path",
                        "type": "string",
                        "required": true,
                        "description": "Line of service id"
                    },
                    {
                        "name": "body",
                        "required": true,
                        "description": "update services request",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/updateServiceRequest"
                        }
                    }
                ],
                "tags": [
                    "Carts",
                    "Optional Services",
                    "Line"
                ],
                "responses": {
                    "200": {
                        "description": "updated Cart",
                        "schema": {
                            "$ref": "#/definitions/carts"
                        }
                    },
                    "400": {
                        "description": "invalid request",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "500": {
                        "description": "Internal error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "503": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    }
                }
            }
        },
        "/{cartID}/lines/{lineId}/device": {
            "post": {
                "summary": "Add device to Line",
                "description": "Add a device to line in the cart",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Format \"Authorization Bearer <<OAuth Token>>\""
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Request message format as application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Content-Types that are acceptable including application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "api-version",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "API version."
                    },
					{
						"name": "channelId",
						"in": "header",
						"type": "string",
						"enum": [
							"WEB",
							"RETAIL",
							"CARE",
							"NA"
						],
						"required": true,
						"description": "Channel identifier. NA is treated as default."
					},
					{
						"name": "applicationId",
						"in": "header",
						"type": "string",
						"enum": [
							"TMO",
							"MYTMO",
							"NA"
						],
						"required": true,
						"description": "Consuming Application identifier. NA is treated as default. More values will be added to swagger as clients are onboarded."
					},
                    {
                        "name": "interactionId",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Alphanumeric value represent a common transaction id across all calls made from UI, while completing all business activity needs of a particular customer."
                    },
                    {
                        "name": "storeId",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Unique identifier for the retail store location. Mandatory for FullService  (Tmobile RETAIL channel). Need to discuss with T-Mobile business liaison if there is a need for Partner to pass their retail Store Id)."
                    },
                    {
                        "name": "follow",
                        "in": "header",
                        "type": "boolean",
                        "required": false,
                        "description": "if true, does not return the resource detail after performing the action. Default false"
                    },
                    {
                        "name": "cartID",
                        "in": "path",
                        "type": "string",
                        "required": true,
                        "description": "Cart ID"
                    },
                    {
                        "name": "lineId",
                        "in": "path",
                        "type": "string",
                        "required": true,
                        "description": "Line of service id"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "device details",
                        "schema": {
                            "$ref": "#/definitions/addDeviceRequest"
                        }
                    }
                ],
                "tags": [
                    "Carts",
                    "Devices",
                    "Line"
                ],
                "responses": {
                    "200": {
                        "description": "Device added or updated",
                        "schema": {
                            "$ref": "#/definitions/carts"
                        }
                    },
                    "400": {
                        "description": "invalid request",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "500": {
                        "description": "Internal error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "503": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    }
                }
            }
        },
        "/{cartID}/lines/{lineId}/device/{deviceId}": {
            "delete": {
                "operationId": "deleteDeviceFromLine",
                "summary": "Delete device",
                "description": "delete device from line of service",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Format \"Authorization Bearer <<OAuth Token>>\""
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Request message format as application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Content-Types that are acceptable including application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "api-version",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "API version."
                    },
					{
						"name": "channelId",
						"in": "header",
						"type": "string",
						"enum": [
							"WEB",
							"RETAIL",
							"CARE",
							"NA"
						],
						"required": true,
						"description": "Channel identifier. NA is treated as default."
					},
					{
						"name": "applicationId",
						"in": "header",
						"type": "string",
						"enum": [
							"TMO",
							"MYTMO",
							"NA"
						],
						"required": true,
						"description": "Consuming Application identifier. NA is treated as default. More values will be added to swagger as clients are onboarded."
					},
                    {
                        "name": "interactionId",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Alphanumeric value represent a common transaction id across all calls made from UI, while completing all business activity needs of a particular customer."
                    },
                    {
                        "name": "storeId",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Unique identifier for the retail store location. Mandatory for FullService  (Tmobile RETAIL channel). Need to discuss with T-Mobile business liaison if there is a need for Partner to pass their retail Store Id)."
                    },
                    {
                        "name": "cartID",
                        "in": "path",
                        "type": "string",
                        "required": true,
                        "description": "Cart ID"
                    },
                    {
                        "name": "lineId",
                        "in": "path",
                        "type": "string",
                        "required": true,
                        "description": "Line of service id"
                    },
                    {
                        "name": "creditLevel",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "creditLevel"
                    },
                    {
                        "name": "deviceId",
                        "in": "path",
                        "type": "string",
                        "required": true,
                        "description": "Line of service id"
                    }
                ],
                "tags": [
                    "Carts"
                ],
                "responses": {
                    "200": {
                        "description": "Device added / updated",
                        "schema": {
                            "$ref": "#/definitions/carts"
                        }
                    },
                    "400": {
                        "description": "invalid request",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "503": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    }
                }
            }
        },
        "/{cartID}/lines/{lineId}/trade-ins": {
            "post": {
                "summary": "Add trade in device to the line",
                "description": "Add Trade in Device to the line",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Format \"Authorization Bearer <<OAuth Token>>\""
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Request message format as application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Content-Types that are acceptable including application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "api-version",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "API version."
                    },
					{
						"name": "channelId",
						"in": "header",
						"type": "string",
						"enum": [
							"WEB",
							"RETAIL",
							"CARE",
							"NA"
						],
						"required": true,
						"description": "Channel identifier. NA is treated as default."
					},
					{
						"name": "applicationId",
						"in": "header",
						"type": "string",
						"enum": [
							"TMO",
							"MYTMO",
							"NA"
						],
						"required": true,
						"description": "Consuming Application identifier. NA is treated as default. More values will be added to swagger as clients are onboarded."
					},
                    {
                        "name": "interactionId",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Alphanumeric value represent a common transaction id across all calls made from UI, while completing all business activity needs of a particular customer."
                    },
                    {
                        "name": "storeId",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Unique identifier for the retail store location. Mandatory for FullService  (Tmobile RETAIL channel). Need to discuss with T-Mobile business liaison if there is a need for Partner to pass their retail Store Id)."
                    },
                    {
                        "name": "follow",
                        "in": "header",
                        "type": "boolean",
                        "required": false,
                        "description": "does not return the resource detail after performing the action"
                    },
                    {
                        "name": "cartID",
                        "in": "path",
                        "type": "string",
                        "required": true,
                        "description": "Cart ID"
                    },
                    {
                        "name": "lineId",
                        "in": "path",
                        "type": "string",
                        "required": true,
                        "description": "Line of service id"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "trade in device details",
                        "schema": {
                            "$ref": "#/definitions/addTradeInDeviceRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Successfully created"
                    },
                    "400": {
                        "description": "invalid request",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "500": {
                        "description": "Internal error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "503": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    }
                }
            },
            "get": {
                "summary": "Get trade in device details from the line",
                "description": "Get Trade in Device details from the line",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Format \"Authorization Bearer <<OAuth Token>>\""
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Request message format as application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Content-Types that are acceptable including application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "api-version",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "API version."
                    },
					{
						"name": "channelId",
						"in": "header",
						"type": "string",
						"enum": [
							"WEB",
							"RETAIL",
							"CARE",
							"NA"
						],
						"required": true,
						"description": "Channel identifier. NA is treated as default."
					},
					{
						"name": "applicationId",
						"in": "header",
						"type": "string",
						"enum": [
							"TMO",
							"MYTMO",
							"NA"
						],
						"required": true,
						"description": "Consuming Application identifier. NA is treated as default. More values will be added to swagger as clients are onboarded."
					},
                    {
                        "name": "interactionId",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Alphanumeric value represent a common transaction id across all calls made from UI, while completing all business activity needs of a particular customer."
                    },
                    {
                        "name": "storeId",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Unique identifier for the retail store location. Mandatory for FullService  (Tmobile RETAIL channel). Need to discuss with T-Mobile business liaison if there is a need for Partner to pass their retail Store Id)."
                    },
                    {
                        "name": "cartID",
                        "in": "path",
                        "type": "string",
                        "required": true,
                        "description": "Cart ID"
                    },
                    {
                        "name": "lineId",
                        "in": "path",
                        "type": "string",
                        "required": true,
                        "description": "Line of service id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Trade In Device details",
                        "schema": {
                            "$ref": "#/definitions/tradeIn"
                        }
                    },
                    "400": {
                        "description": "invalid request",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "500": {
                        "description": "Internal error",
[...]
