{
	"swagger": "2.0",
    "info": {
        "title": "Profile",
        "description": "Digital Commerce APIs covering Profile, Address, Account, credit-profiles and finance resources used typically in checkout flows",
        "version": "1.0.0"
    },
    "host": "commerce.digital.t-mobile.com",
    "schemes": [
        "https"
    ],
    "basePath": "/v2",
	"consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
		"/profiles": {
            "get": {
                "summary": "Get default profile associated with current token.",
                "description": "Get default profile associated with current token.",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "description": "Format \"Authorization Bearer <<OAuth Token>>\""
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Request message format (default is application/json)"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Content-Types that are acceptable. Currently only application/json is supported"
                    },
                    {
                        "name": "api-version",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "API version."
                    },
					{
						"name": "channelId",
						"in": "header",
						"type": "string",
						"enum": [
							"WEB",
							"RETAIL",
							"CARE",
							"NA"
						],
						"required": true,
						"description": "Channel identifier. NA is treated as default."
					},
					{
						"name": "applicationId",
						"in": "header",
						"type": "string",
						"enum": [
							"TMO",
							"MYTMO",
							"NA"
						],
						"required": true,
						"description": "Consuming Application identifier. NA is treated as default. More values will be added to swagger as clients are onboarded."
					},
                    {
                        "name": "interactionId",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Alphanumeric value represent a common transaction id across all calls made from UI, while completing all business activity needs of a particular customer."
                    },
                    {
                        "name": "storeId",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Unique identifier for the retail store location. Mandatory for FullService  (Tmobile RETAIL channel). Need to discuss with T-Mobile business liaison if there is a need for Partner to pass their retail Store Id)."
                    }
                ],
                "tags": [
                    "Profiles"
                ],
                "responses": {
                    "200": {
                        "description": "Successful Profile Response",
                        "schema": {
                            "$ref": "#/definitions/profile"
                        }
                    },
                    "400": {
                        "description": "invalid request",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "500": {
                        "description": "Internal error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "503": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    }
                }
            }
        },
		"/profiles/{profileId}": {
            "get": {
                "operationId": "getProfile",
                "summary": "Get profile by profile id which is the system generated resource identifier",
                "description": "Get the requested profile details.",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "description": "Format \"Authorization Bearer <<OAuth Token>>\""
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Request message format as application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Content-Types that are acceptable including application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "api-version",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "API version."
                    },
					{
						"name": "channelId",
						"in": "header",
						"type": "string",
						"enum": [
							"WEB",
							"RETAIL",
							"CARE",
							"NA"
						],
						"required": true,
						"description": "Channel identifier. NA is treated as default."
					},
					{
						"name": "applicationId",
						"in": "header",
						"type": "string",
						"enum": [
							"TMO",
							"MYTMO",
							"NA"
						],
						"required": true,
						"description": "Consuming Application identifier. NA is treated as default. More values will be added to swagger as clients are onboarded."
					},
                    {
                        "name": "interactionId",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Alphanumeric value represent a common transaction id across all calls made from UI, while completing all business activity needs of a particular customer."
                    },
                    {
                        "name": "storeId",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Unique identifier for the retail store location. Mandatory for FullService  (Tmobile RETAIL channel). Need to discuss with T-Mobile business liaison if there is a need for Partner to pass their retail Store Id)."
                    },
                    {
                        "name": "profileId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Profiles"
                ],
                "responses": {
                    "200": {
                        "description": "Profile details",
                        "schema": {
                            "$ref": "#/definitions/profile"
                        }
                    },
                    "400": {
                        "description": "invalid request",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "500": {
                        "description": "Internal error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "503": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    }
                }
            },
			"put": {
                "operationId": "updateProfile",
                "summary": "Update profile by profile id which is system generated encoded resource identifier",
                "description": "Update profile by profile id.",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "description": "Format \"Authorization Bearer <<OAuth Token>>\""
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Request message format as application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Content-Types that are acceptable including application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "api-version",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "API version."
                    },
					{
						"name": "channelId",
						"in": "header",
						"type": "string",
						"enum": [
							"WEB",
							"RETAIL",
							"CARE",
							"NA"
						],
						"required": true,
						"description": "Channel identifier. NA is treated as default."
					},
					{
						"name": "applicationId",
						"in": "header",
						"type": "string",
						"enum": [
							"TMO",
							"MYTMO",
							"NA"
						],
						"required": true,
						"description": "Consuming Application identifier. NA is treated as default. More values will be added to swagger as clients are onboarded."
					},
                    {
                        "name": "interactionId",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Alphanumeric value represent a common transaction id across all calls made from UI, while completing all business activity needs of a particular customer."
                    },
                    {
                        "name": "storeId",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Unique identifier for the retail store location. Mandatory for FullService  (Tmobile RETAIL channel). Need to discuss with T-Mobile business liaison if there is a need for Partner to pass their retail Store Id)."
                    },
                    {
                        "name": "profileId",
                        "in": "path",
                        "required": true,
                        "type": "string",
						"description": "Encoded profile Id returned in the get profile API response."
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "profile details",
                        "schema": {
                            "$ref": "#/definitions/updateProfileRequest"
                        }
                    }
                ],
                "tags": [
                    "Profiles"
                ],
                "responses": {
                    "200": {
					 "description": "profile details",
                        "schema": {
                            "$ref": "#/definitions/profile"
                        }
                    },
                    "400": {
                        "description": "invalid request",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "500": {
                        "description": "Internal error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "503": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    }
                }
			}
		},
		"/profiles/{profileId}/accounts": {
            "post": {
                "summary": "Add account information to the current profile.",
                "description": "Add account information associated with the profile. This information is used to pass downstream for fulfillment and provisioning.",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Format \"Authorization Bearer <<OAuth Token>>\""
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Request message format as application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Content-Types that are acceptable including application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "api-version",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "API version."
                    },
					{
						"name": "channelId",
						"in": "header",
						"type": "string",
						"enum": [
							"WEB",
							"RETAIL",
							"CARE",
							"NA"
						],
						"required": true,
						"description": "Channel identifier. NA is treated as default."
					},
					{
						"name": "applicationId",
						"in": "header",
						"type": "string",
						"enum": [
							"TMO",
							"MYTMO",
							"NA"
						],
						"required": true,
						"description": "Consuming Application identifier. NA is treated as default. More values will be added to swagger as clients are onboarded."
					},
                    {
                        "name": "interactionId",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Alphanumeric value represent a common transaction id across all calls made from UI, while completing all business activity needs of a particular customer."
                    },
                    {
                        "name": "storeId",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Unique identifier for the retail store location. Mandatory for FullService  (Tmobile RETAIL channel). Need to discuss with T-Mobile business liaison if there is a need for Partner to pass their retail Store Id)."
                    },
                    {
                        "name": "follow",
                        "in": "header",
                        "type": "boolean",
                        "required": false,
                        "description": "If true, does not return the resource detail after performing the action. Default false"
                    },
                    {
                        "name": "profileId",
                        "in": "path",
                        "required": true,						
                        "description": "Profile id for which account needs to be created",
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "description": "Account details for the account which needs to be created",
                        "schema": {
                            "$ref": "#/definitions/addAccountRequest"
                        }
                    }
                ],
                "tags": [
                    "Accounts"
                ],
                "responses": {
                    "201": {
                        "description": "Created Account",
                        "schema": {
                            "$ref": "#/definitions/account"
                        }
                    },
                    "400": {
                        "description": "invalid request",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "500": {
                        "description": "Internal error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "503": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    }
                }
            },
			"get": {
			    "summary": "Get all accounts associated with the current token/profile.",
                "description": "Get all accounts for the profile. Token in the header is used to identify the associated profile. Account resource is created only for activation flow. For logged in user, binding will be done from customer data store.",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Format \"Authorization Bearer <<OAuth Token>>\""
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Request message format as application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Content-Types that are acceptable including application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "api-version",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "API version."
                    },
					{
						"name": "channelId",
						"in": "header",
						"type": "string",
						"enum": [
							"WEB",
							"RETAIL",
							"CARE",
							"NA"
						],
						"required": true,
						"description": "Channel identifier. NA is treated as default."
					},
					{
						"name": "applicationId",
						"in": "header",
						"type": "string",
						"enum": [
							"TMO",
							"MYTMO",
							"NA"
						],
						"required": true,
						"description": "Consuming Application identifier. NA is treated as default. More values will be added to swagger as clients are onboarded."
					},
                    {
                        "name": "interactionId",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Alphanumeric value represent a common transaction id across all calls made from UI, while completing all business activity needs of a particular customer."
                    },
                    {
                        "name": "storeId",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Unique identifier for the retail store location. Mandatory for FullService  (Tmobile RETAIL channel). Need to discuss with T-Mobile business liaison if there is a need for Partner to pass their retail Store Id)."
                    },
                    {
                        "name": "profileId",
                        "in": "path",
                        "required": true,						
                        "description": "Profile id for which account needs to be created",
                        "type": "string"
                    },
                    {
                        "name": "follow",
                        "in": "header",
                        "type": "boolean",
                        "required": false,
                        "description": "If true, does not return the resource detail after performing the action. Default false"
                    }
                ],
                "tags": [
                    "Accounts"
                ],
                "responses": {
                    "200": {
                        "description": "List of all accounts associated with the profile",
                        "schema": {
                            "$ref": "#/definitions/accounts"
                        }
                    },
                    "400": {
                        "description": "invalid request",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "500": {
                        "description": "Internal error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "503": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    }
                }
			}
        },
		"/profiles/{profileId}/accounts/{accountId}": {
            "put": {
                "summary": "Update account information for the specified account resource.",
                "description": "Update account information for the specified account resource.",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Format \"Authorization Bearer <<OAuth Token>>\""
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Request message format as application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Content-Types that are acceptable including application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "api-version",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "API version."
                    },
					{
						"name": "channelId",
						"in": "header",
						"type": "string",
						"enum": [
							"WEB",
							"RETAIL",
							"CARE",
							"NA"
						],
						"required": true,
						"description": "Channel identifier. NA is treated as default."
					},
					{
						"name": "applicationId",
						"in": "header",
						"type": "string",
						"enum": [
							"TMO",
							"MYTMO",
							"NA"
						],
						"required": true,
						"description": "Consuming Application identifier. NA is treated as default. More values will be added to swagger as clients are onboarded."
					},
                    {
                        "name": "interactionId",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Alphanumeric value represent a common transaction id across all calls made from UI, while completing all business activity needs of a particular customer."
                    },
                    {
                        "name": "storeId",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Unique identifier for the retail store location. Mandatory for FullService  (Tmobile RETAIL channel). Need to discuss with T-Mobile business liaison if there is a need for Partner to pass their retail Store Id)."
                    },
                    {
                        "name": "follow",
                        "in": "header",
                        "type": "boolean",
                        "required": false,
                        "description": "If true, does not return the resource detail after performing the action. Default false"
                    },
                    {
                        "name": "profileId",
                        "in": "path",
                        "required": true,
                        "description": "Profile id for which account needs to be created",
                        "type": "string"
                    },
                    {
                        "name": "accountId",
                        "in": "path",
                        "type": "string",
                        "required": true,
						"description": "Encoded account Id returned in the get account API response."
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "description": "Account details for the account which needs to be updated",
                        "schema": {
                            "$ref": "#/definitions/updateAccountRequest"
                        }
                    }
                ],
                "tags": [
                    "Accounts"
                ],
                "responses": {
                    "200": {
                        "description": "Updated Account",
                        "schema": {
                            "$ref": "#/definitions/account"
                        }
                    },
                    "400": {
                        "description": "invalid request",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "500": {
                        "description": "Internal error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "503": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    }
                }
            },
			"delete": {
                "summary": "Delete account information associated with the account resource id.",
                "description": "Delete account info by account id from the commerce system. This operation is used when the temporary account info in billing system is removed/purged. ",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Format \"Authorization Bearer <<OAuth Token>>\""
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Request message format as application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Content-Types that are acceptable including application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "api-version",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "API version."
                    },
					{
						"name": "channelId",
						"in": "header",
						"type": "string",
						"enum": [
							"WEB",
							"RETAIL",
							"CARE",
							"NA"
						],
						"required": true,
						"description": "Channel identifier. NA is treated as default."
					},
					{
						"name": "applicationId",
						"in": "header",
						"type": "string",
						"enum": [
							"TMO",
							"MYTMO",
							"NA"
						],
						"required": true,
						"description": "Consuming Application identifier. NA is treated as default. More values will be added to swagger as clients are onboarded."
					},
                    {
                        "name": "interactionId",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Alphanumeric value represent a common transaction id across all calls made from UI, while completing all business activity needs of a particular customer."
                    },
                    {
                        "name": "storeId",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Unique identifier for the retail store location. Mandatory for FullService  (Tmobile RETAIL channel). Need to discuss with T-Mobile business liaison if there is a need for Partner to pass their retail Store Id)."
                    },
                    {
                        "name": "follow",
                        "in": "header",
                        "type": "boolean",
                        "required": false,
                        "description": "If true, does not return the resource detail after performing the action. Default false"
                    },
                    {
                        "name": "profileId",
                        "in": "path",
                        "required": true,
                        "description": "Profile id for which account needs to be created",
                        "type": "string"
                    },
                    {
                        "name": "accountId",
                        "in": "path",
                        "type": "string",
                        "required": true,
                        "description": "Encoded account Id returned in the get account API response."
                    }
                ],
                "tags": [
                    "Accounts"
                ],
                "responses": {
                    "200": {
                        "description": "Account deleted successfully",
                        "schema": {
                            "$ref": "#/definitions/accounts"
                        }
                    },
                    "400": {
                        "description": "invalid request",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "500": {
                        "description": "Internal error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "503": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    }
                }
            }
        },
		"/addresses":{
			"post":{
			    "summary": "Add address with the specified type like BILLING/SHIPPING/PPU/E911.",
                "description": "Add address with the specified type like BILLING/SHIPPING/PPU/E911",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Format \"Authorization Bearer <<OAuth Token>>\""
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Request message format as application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Content-Types that are acceptable including application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "api-version",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "API version."
                    },
					{
						"name": "channelId",
						"in": "header",
						"type": "string",
						"enum": [
							"WEB",
							"RETAIL",
							"CARE",
							"NA"
						],
						"required": true,
						"description": "Channel identifier. NA is treated as default."
					},
					{
						"name": "applicationId",
						"in": "header",
						"type": "string",
						"enum": [
							"TMO",
							"MYTMO",
							"NA"
						],
						"required": true,
						"description": "Consuming Application identifier. NA is treated as default. More values will be added to swagger as clients are onboarded."
					},
                    {
                        "name": "interactionId",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Alphanumeric value represent a common transaction id across all calls made from UI, while completing all business activity needs of a particular customer."
                    },
                    {
                        "name": "storeId",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Unique identifier for the retail store location. Mandatory for FullService  (Tmobile RETAIL channel). Need to discuss with T-Mobile business liaison if there is a need for Partner to pass their retail Store Id)."
                    },
                    {
                        "name": "follow",
                        "in": "header",
                        "type": "boolean",
                        "required": false,
                        "description": "If true, does not return the resource detail after performing the action. Default false"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "description": "Address details.",
                        "schema": {
                            "$ref": "#/definitions/addAddressRequest"
                        }
                    }
                ],
                "tags": [
                    "Addresses"
                ],
                "responses": {
                    "201": {
                        "description": "Created address",
                        "schema": {
                            "$ref": "#/definitions/address"
                        }
                    },
                    "400": {
                        "description": "invalid request",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "500": {
                        "description": "Internal error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "503": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    }
                }
			}, 
			"get":{
				"summary": "Get all address associated with the profile.",
                "description": "Get all address associated with the profile.",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Format \"Authorization Bearer <<OAuth Token>>\""
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Request message format as application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Content-Types that are acceptable including application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "api-version",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "API version."
                    },
					{
						"name": "channelId",
						"in": "header",
						"type": "string",
						"enum": [
							"WEB",
							"RETAIL",
							"CARE",
							"NA"
						],
						"required": true,
						"description": "Channel identifier. NA is treated as default."
					},
					{
						"name": "applicationId",
						"in": "header",
						"type": "string",
						"enum": [
							"TMO",
							"MYTMO",
							"NA"
						],
						"required": true,
						"description": "Consuming Application identifier. NA is treated as default. More values will be added to swagger as clients are onboarded."
					},
                    {
                        "name": "interactionId",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Alphanumeric value represent a common transaction id across all calls made from UI, while completing all business activity needs of a particular customer."
                    },
                    {
                        "name": "storeId",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Unique identifier for the retail store location. Mandatory for FullService  (Tmobile RETAIL channel). Need to discuss with T-Mobile business liaison if there is a need for Partner to pass their retail Store Id)."
                    },
					{
                        "name": "type",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "Address type to get the specific address by type like shipping, billing, ppu, e911."
                    },
                    {
                        "name": "follow",
                        "in": "header",
                        "type": "boolean",
                        "required": false,
                        "description": "If true, does not return the resource detail after performing the action. Default false"
                    }
                ],
                "tags": [
                    "Addresses"
                ],
                "responses": {
                    "200": {
                        "description": "List of addresses for the profile.",
                        "schema": {
                            "$ref": "#/definitions/addresses"
                        }
                    },
                    "400": {
                        "description": "invalid request",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "500": {
                        "description": "Internal error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "503": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    }
                }			
			}
		},
		"/addresses/{addressId}": {
            "put": {
                "summary": "Update address.",
                "description": "Update address.",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Format \"Authorization Bearer <<OAuth Token>>\""
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Request message format as application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Content-Types that are acceptable including application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "api-version",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "API version."
                    },
					{
						"name": "channelId",
						"in": "header",
						"type": "string",
						"enum": [
							"WEB",
							"RETAIL",
							"CARE",
							"NA"
						],
						"required": true,
						"description": "Channel identifier. NA is treated as default."
					},
					{
						"name": "applicationId",
						"in": "header",
						"type": "string",
						"enum": [
							"TMO",
							"MYTMO",
							"NA"
						],
						"required": true,
						"description": "Consuming Application identifier. NA is treated as default. More values will be added to swagger as clients are onboarded."
					},
                    {
                        "name": "interactionId",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Alphanumeric value represent a common transaction id across all calls made from UI, while completing all business activity needs of a particular customer."
                    },
                    {
                        "name": "storeId",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Unique identifier for the retail store location. Mandatory for FullService  (Tmobile RETAIL channel). Need to discuss with T-Mobile business liaison if there is a need for Partner to pass their retail Store Id)."
                    },
                    {
                        "name": "follow",
                        "in": "header",
                        "type": "boolean",
                        "required": false,
                        "description": "If true, does not return the resource detail after performing the action. Default false"
                    },
                    {
                        "name": "addressId",
                        "in": "path",
                        "type": "string",
                        "required": true,
						"description": "Encoded address Id returned in the get address API response."
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "description": "Account details for the account which needs to be updated",
                        "schema": {
                            "$ref": "#/definitions/updateAddressRequest"
                        }
                    }
                ],
                "tags": [
                    "Addresses"
                ],
                "responses": {
                    "200": {
                        "description": "Updated Account",
                        "schema": {
                            "$ref": "#/definitions/address"
                        }
                    },
                    "400": {
                        "description": "invalid request",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "500": {
                        "description": "Internal error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "503": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    }
                }
            },
			"delete": {
                "summary": "Delete address.",
                "description": "Delete address by address id.",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Format \"Authorization Bearer <<OAuth Token>>\""
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Request message format as application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Content-Types that are acceptable including application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "api-version",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "API version."
                    },
					{
						"name": "channelId",
						"in": "header",
						"type": "string",
						"enum": [
							"WEB",
							"RETAIL",
							"CARE",
							"NA"
						],
						"required": true,
						"description": "Channel identifier. NA is treated as default."
					},
					{
						"name": "applicationId",
						"in": "header",
						"type": "string",
						"enum": [
							"TMO",
							"MYTMO",
							"NA"
						],
						"required": true,
						"description": "Consuming Application identifier. NA is treated as default. More values will be added to swagger as clients are onboarded."
					},
                    {
                        "name": "interactionId",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Alphanumeric value represent a common transaction id across all calls made from UI, while completing all business activity needs of a particular customer."
                    },
                    {
                        "name": "storeId",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Unique identifier for the retail store location. Mandatory for FullService  (Tmobile RETAIL channel). Need to discuss with T-Mobile business liaison if there is a need for Partner to pass their retail Store Id)."
                    },
                    {
                        "name": "follow",
                        "in": "header",
                        "type": "boolean",
                        "required": false,
                        "description": "If true, does not return the resource detail after performing the action. Default false"
                    },
                    {
                        "name": "addressId",
                        "in": "path",
                        "type": "string",
                        "required": true,
                        "description": "Encoded address Id returned in the get address API response."
                    }
                ],
                "tags": [
                    "Accounts"
                ],
                "responses": {
                    "200": {
                        "description": "Address deleted successfully"
                    },
                    "400": {
                        "description": "invalid request",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "500": {
                        "description": "Internal error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "503": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    }
                }
            },
			"get":{
				"summary": "Get address associated with the profile by address id.",
                "description": "Get all address associated with the profile by address id.",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Format \"Authorization Bearer <<OAuth Token>>\""
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Request message format as application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Content-Types that are acceptable including application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "api-version",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "API version."
                    },
					{
						"name": "channelId",
						"in": "header",
						"type": "string",
						"enum": [
							"WEB",
							"RETAIL",
							"CARE",
							"NA"
						],
						"required": true,
						"description": "Channel identifier. NA is treated as default."
					},
					{
						"name": "applicationId",
						"in": "header",
						"type": "string",
						"enum": [
							"TMO",
							"MYTMO",
							"NA"
						],
						"required": true,
						"description": "Consuming Application identifier. NA is treated as default. More values will be added to swagger as clients are onboarded."
					},
                    {
                        "name": "interactionId",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Alphanumeric value represent a common transaction id across all calls made from UI, while completing all business activity needs of a particular customer."
                    },
                    {
                        "name": "storeId",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Unique identifier for the retail store location. Mandatory for FullService  (Tmobile RETAIL channel). Need to discuss with T-Mobile business liaison if there is a need for Partner to pass their retail Store Id)."
                    },
                    {
                        "name": "follow",
                        "in": "header",
                        "type": "boolean",
                        "required": false,
                        "description": "If true, does not return the resource detail after performing the action. Default false"
                    },
                    {
                        "name": "addressId",
                        "in": "path",
                        "type": "string",
                        "required": true,
                        "description": "Encoded address Id returned in the get address API response."
                    }
                ],
                "tags": [
                    "Addresses"
                ],
                "responses": {
                    "200": {
                        "description": "Address associated with the profile by address id.",
                        "schema": {
                            "$ref": "#/definitions/address"
                        }
                    },
                    "400": {
                        "description": "invalid request",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "500": {
                        "description": "Internal error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "503": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    }
                }			
			}
        },
		"/credit-profiles": {
            "post": {
                "summary": "The credit profile captures the credit check information which is the outcome of the credit check. Credit Info can be updated independent of the profile itself.",
                "description": "The credit profile captures the credit check information which is the outcome of the credit check. Credit Info can be updated independent of the profile itself.",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Format \"Authorization Bearer <<OAuth Token>>\""
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Request message format as application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Content-Types that are acceptable including application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "api-version",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "API version."
                    },
					{
						"name": "channelId",
						"in": "header",
						"type": "string",
						"enum": [
							"WEB",
							"RETAIL",
							"CARE",
							"NA"
						],
						"required": true,
						"description": "Channel identifier. NA is treated as default."
					},
					{
						"name": "applicationId",
						"in": "header",
						"type": "string",
						"enum": [
							"TMO",
							"MYTMO",
							"NA"
						],
						"required": true,
						"description": "Consuming Application identifier. NA is treated as default. More values will be added to swagger as clients are onboarded."
					},
                    {
                        "name": "interactionId",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Alphanumeric value represent a common transaction id across all calls made from UI, while completing all business activity needs of a particular customer."
                    },
                    {
                        "name": "storeId",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Unique identifier for the retail store location. Mandatory for FullService  (Tmobile RETAIL channel). Need to discuss with T-Mobile business liaison if there is a need for Partner to pass their retail Store Id)."
                    },
                    {
                        "name": "follow",
                        "in": "header",
                        "type": "boolean",
                        "required": false,
                        "description": "If true, does not return the resource detail after performing the action. Default false"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "description": "Credit profile details.",
                        "schema": {
                            "$ref": "#/definitions/addCreditProfileRequest"
                        }
                    }
                ],
                "tags": [
                    "Credit profile"
                ],
                "responses": {
                    "201": {
                        "description": "Created Credit Profile",
                        "schema": {
                            "$ref": "#/definitions/creditProfile"
                        }
                    },
                    "400": {
                        "description": "invalid request",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "500": {
                        "description": "Internal error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "503": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    }
                }
            },
			"get": {
			    "summary": "Get credit profile for the given customer on the basis of token.",
                "description": "Get credit profile for the given customer. Token in the header is used to identify the associated customer.",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Format \"Authorization Bearer <<OAuth Token>>\""
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Request message format as application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Content-Types that are acceptable including application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "api-version",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "API version."
                    },
					{
						"name": "channelId",
						"in": "header",
						"type": "string",
						"enum": [
							"WEB",
							"RETAIL",
							"CARE",
							"NA"
						],
						"required": true,
						"description": "Channel identifier. NA is treated as default."
					},
					{
						"name": "applicationId",
						"in": "header",
						"type": "string",
						"enum": [
							"TMO",
							"MYTMO",
							"NA"
						],
						"required": true,
						"description": "Consuming Application identifier. NA is treated as default. More values will be added to swagger as clients are onboarded."
					},
                    {
                        "name": "interactionId",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Alphanumeric value represent a common transaction id across all calls made from UI, while completing all business activity needs of a particular customer."
                    },
                    {
                        "name": "storeId",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Unique identifier for the retail store location. Mandatory for FullService  (Tmobile RETAIL channel). Need to discuss with T-Mobile business liaison if there is a need for Partner to pass their retail Store Id)."
                    },
                    {
                        "name": "follow",
                        "in": "header",
                        "type": "boolean",
                        "required": false,
                        "description": "If true, does not return the resource detail after performing the action. Default false"
                    }
                ],
                "tags": [
                    "Credit profile"
                ],
                "responses": {
                    "200": {
                        "description": "Credit profile for the customer",
                        "schema": {
                            "$ref": "#/definitions/creditProfile"
                        }
                    },
                    "400": {
                        "description": "invalid request",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "500": {
                        "description": "Internal error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "503": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    }
                }
			}
        },
		"/credit-profiles/{creditProfileId}": {
			"get": {
			    "summary": "Get credit profile by credit profile id.",
                "description": "Get credit profile by credit profile id.",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Format \"Authorization Bearer <<OAuth Token>>\""
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Request message format as application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Content-Types that are acceptable including application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "api-version",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "API version."
                    },
					{
						"name": "channelId",
						"in": "header",
						"type": "string",
						"enum": [
							"WEB",
							"RETAIL",
							"CARE",
							"NA"
						],
						"required": true,
						"description": "Channel identifier. NA is treated as default."
					},
					{
						"name": "applicationId",
						"in": "header",
						"type": "string",
						"enum": [
							"TMO",
							"MYTMO",
							"NA"
						],
						"required": true,
						"description": "Consuming Application identifier. NA is treated as default. More values will be added to swagger as clients are onboarded."
					},
                    {
                        "name": "interactionId",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Alphanumeric value represent a common transaction id across all calls made from UI, while completing all business activity needs of a particular customer."
                    },
                    {
                        "name": "storeId",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Unique identifier for the retail store location. Mandatory for FullService  (Tmobile RETAIL channel). Need to discuss with T-Mobile business liaison if there is a need for Partner to pass their retail Store Id)."
                    },
                    {
                        "name": "follow",
                        "in": "header",
                        "type": "boolean",
                        "required": false,
                        "description": "If true, does not return the resource detail after performing the action. Default false"
                    },
                    {
                        "name": "creditProfileId",
                        "in": "path",
                        "type": "string",
                        "required": true,
                        "description": "Credit ProfileId."
                    }
                ],
                "tags": [
                    "Credit profile"
                ],
                "responses": {
                    "200": {
                        "description": "Credit profile for the customer",
                        "schema": {
                            "$ref": "#/definitions/creditProfile"
                        }
                    },
                    "400": {
                        "description": "invalid request",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "500": {
                        "description": "Internal error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "503": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    }
                }
			},
			"delete": {
                "summary": "Delete credit profile by credit profile id.",
                "description": "Delete credit profile by credit profile id.",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Format \"Authorization Bearer <<OAuth Token>>\""
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Request message format as application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Content-Types that are acceptable including application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "api-version",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "API version."
                    },
					{
						"name": "channelId",
						"in": "header",
						"type": "string",
						"enum": [
							"WEB",
							"RETAIL",
							"CARE",
							"NA"
						],
						"required": true,
						"description": "Channel identifier. NA is treated as default."
					},
					{
						"name": "applicationId",
						"in": "header",
						"type": "string",
						"enum": [
							"TMO",
							"MYTMO",
							"NA"
						],
						"required": true,
						"description": "Consuming Application identifier. NA is treated as default. More values will be added to swagger as clients are onboarded."
					},
                    {
                        "name": "interactionId",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Alphanumeric value represent a common transaction id across all calls made from UI, while completing all business activity needs of a particular customer."
                    },
                    {
                        "name": "storeId",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Unique identifier for the retail store location. Mandatory for FullService  (Tmobile RETAIL channel). Need to discuss with T-Mobile business liaison if there is a need for Partner to pass their retail Store Id)."
                    },
                    {
                        "name": "follow",
                        "in": "header",
                        "type": "boolean",
                        "required": false,
                        "description": "If true, does not return the resource detail after performing the action. Default false"
                    },
                    {
                        "name": "creditProfileId",
                        "in": "path",
                        "type": "string",
                        "required": true,
                        "description": "Encoded creditProfileId returned in the get credit Profile API response."
                    }
                ],
                "tags": [
                    "Credit profile"
                ],
                "responses": {
                    "200": {
                        "description": "Credit profile deleted successfully"
                    },
                    "400": {
                        "description": "invalid request",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "500": {
                        "description": "Internal error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "503": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    }
                }
            },
			"put": {
                "summary": "Update credit profile by credit profile id.",
                "description": "Update credit profile by credit profile id.",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Format \"Authorization Bearer <<OAuth Token>>\""
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Request message format as application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Content-Types that are acceptable including application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "api-version",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "API version."
                    },
					{
						"name": "channelId",
						"in": "header",
						"type": "string",
						"enum": [
							"WEB",
							"RETAIL",
							"CARE",
							"NA"
						],
						"required": true,
						"description": "Channel identifier. NA is treated as default."
					},
					{
						"name": "applicationId",
						"in": "header",
						"type": "string",
						"enum": [
							"TMO",
							"MYTMO",
							"NA"
						],
						"required": true,
						"description": "Consuming Application identifier. NA is treated as default. More values will be added to swagger as clients are onboarded."
					},
                    {
                        "name": "interactionId",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Alphanumeric value represent a common transaction id across all calls made from UI, while completing all business activity needs of a particular customer."
                    },
                    {
                        "name": "storeId",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Unique identifier for the retail store location. Mandatory for FullService  (Tmobile RETAIL channel). Need to discuss with T-Mobile business liaison if there is a need for Partner to pass their retail Store Id)."
                    },
                    {
                        "name": "follow",
                        "in": "header",
                        "type": "boolean",
                        "required": false,
                        "description": "If true, does not return the resource detail after performing the action. Default false"
                    },
                    {
                        "name": "creditProfileId",
                        "in": "path",
                        "type": "string",
                        "required": true,
						"description": "Encoded account Id returned in the get account API response."
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "description": "Encoded creditProfileId returned in the get credit Profile API response.",
                        "schema": {
                            "$ref": "#/definitions/updateCreditProfileRequest"
                        }
                    }
                ],
                "tags": [
                    "Credit profile"
                ],
                "responses": {
                    "200": {
                        "description": "Updated Credit Profile",
                        "schema": {
                            "$ref": "#/definitions/creditProfile"
                        }
                    },
                    "400": {
                        "description": "invalid request",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "500": {
                        "description": "Internal error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "503": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    }
                }
            }
        },
		"/profiles/{profileId}/accounts/{accountId}/finances": {
            "post": {
                "summary": "API to add the finance details for the particual account in the profile.",
                "description": "API to add the finance details for the particual account in the profile.",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Format \"Authorization Bearer <<OAuth Token>>\""
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Request message format as application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Content-Types that are acceptable including application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "api-version",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "API version."
                    },
					{
						"name": "channelId",
						"in": "header",
						"type": "string",
						"enum": [
							"WEB",
							"RETAIL",
							"CARE",
							"NA"
						],
						"required": true,
						"description": "Channel identifier. NA is treated as default."
					},
					{
						"name": "applicationId",
						"in": "header",
						"type": "string",
						"enum": [
							"TMO",
							"MYTMO",
							"NA"
						],
						"required": true,
						"description": "Consuming Application identifier. NA is treated as default. More values will be added to swagger as clients are onboarded."
					},
                    {
                        "name": "interactionId",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Alphanumeric value represent a common transaction id across all calls made from UI, while completing all business activity needs of a particular customer."
                    },
                    {
                        "name": "storeId",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Unique identifier for the retail store location. Mandatory for FullService  (Tmobile RETAIL channel). Need to discuss with T-Mobile business liaison if there is a need for Partner to pass their retail Store Id)."
                    },
                    {
                        "name": "follow",
                        "in": "header",
                        "type": "boolean",
                        "required": false,
                        "description": "If true, does not return the resource detail after performing the action. Default false"
                    },
                    {
                        "name": "profileId",
                        "in": "path",
                        "required": true,
                        "description": "Profile id specific to customer returned in get profile API response.",
                        "type": "string"
                    },
                    {
                        "name": "accountId",
                        "in": "path",
                        "type": "string",
                        "required": true,
						"description": "Encoded account Id returned in the get account API response."
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "description": "Credit profile details.",
                        "schema": {
                            "$ref": "#/definitions/finance"
                        }
                    }
                ],
                "tags": [
                    "Finance"
                ],
                "responses": {
                    "201": {
                        "description": "Finance data added to account.",
                        "schema": {
                            "$ref": "#/definitions/finance"
                        }
                    },
                    "400": {
                        "description": "invalid request",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "500": {
                        "description": "Internal error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "503": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    }
                }
            },
			"get": {
			    "summary": "Get finance data for the account.",
                "description": "Get finance data for the account.",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Format \"Authorization Bearer <<OAuth Token>>\""
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Request message format as application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Content-Types that are acceptable including application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "api-version",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "API version."
                    },
					{
						"name": "channelId",
						"in": "header",
						"type": "string",
						"enum": [
							"WEB",
							"RETAIL",
							"CARE",
							"NA"
						],
						"required": true,
						"description": "Channel identifier. NA is treated as default."
					},
					{
						"name": "applicationId",
						"in": "header",
						"type": "string",
						"enum": [
							"TMO",
							"MYTMO",
							"NA"
						],
						"required": true,
						"description": "Consuming Application identifier. NA is treated as default. More values will be added to swagger as clients are onboarded."
					},
                    {
                        "name": "interactionId",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Alphanumeric value represent a common transaction id across all calls made from UI, while completing all business activity needs of a particular customer."
                    },
                    {
                        "name": "storeId",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Unique identifier for the retail store location. Mandatory for FullService  (Tmobile RETAIL channel). Need to discuss with T-Mobile business liaison if there is a need for Partner to pass their retail Store Id)."
                    },
                    {
                        "name": "follow",
                        "in": "header",
                        "type": "boolean",
                        "required": false,
                        "description": "If true, does not return the resource detail after performing the action. Default false"
                    },
                    {
                        "name": "profileId",
                        "in": "path",
                        "required": true,
                        "description": "Profile id specific to customer returned in get profile API response.",
                        "type": "string"
                    },
                    {
                        "name": "accountId",
                        "in": "path",
                        "type": "string",
                        "required": true,
						"description": "Encoded account Id returned in the get account API response."
                    }
                ],
                "tags": [
                    "Finance"
                ],
                "responses": {
                    "200": {
                        "description": "Finance data for the account.",
                        "schema": {
                            "$ref": "#/definitions/finances"
                        }
                    },
                    "400": {
                        "description": "invalid request",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "500": {
                        "description": "Internal error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "503": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    }
                }
			},
			"put": {
                "summary": "Update finance data for the account.",
                "description": "Update finance data for the account.",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Format \"Authorization Bearer <<OAuth Token>>\""
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Request message format as application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "Content-Types that are acceptable including application/json or application/xml (default assumed application/json)"
                    },
                    {
                        "name": "api-version",
                        "in": "header",
                        "type": "string",
                        "required": false,
                        "description": "API version."
                    },
					{
						"name": "channelId",
						"in": "header",
						"type": "string",
						"enum": [
							"WEB",
							"RETAIL",
							"CARE",
							"NA"
						],
						"required": true,
						"description": "Channel identifier. NA is treated as default."
					},
					{
						"name": "applicationId",
						"in": "header",
						"type": "string",
						"enum": [
							"TMO",
							"MYTMO",
							"NA"
						],
						"required": true,
						"description": "Consuming Application identifier. NA is treated as default. More values will be added to swagger as clients are onboarded."
					},
                    {
                        "name": "interactionId",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "Alphanumeric value represent a common transaction id across all calls made from UI, while completing all business activity needs of a particular customer."
                    },
                    {
                        "name": "storeId",
                        "in": "header",
                        "type": "string",
                        "required": false,
[...]
